.main{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.clock{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 50px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.flex-row-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-btn-time button{
  margin: 0.5rem;
}